
.module_facturation {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
	table{
		table-layout: fixed;	
	}
	
	#facture{
		width: 100%;
	}
	
	.input{
		margin: 1px;
		padding-right: 2px;
        padding-left: 2px;
	}


	.fieldBlock{
		//	width: 250px;
	}
	
	.fieldLabel
	{
		display: inline-block;	
		width: 80px;
		text-align: right;
		margin-right: 4px;
	}

	#entete{

		.fieldControl
		{
			width: 280px;
		}

	
	} 
	
	#infoFacture{
		width: 100%;
		.leftHeader, .rightHeader{
			width: 300px;
		}

        .rightHeader{
            text-align: right;
        }

		.input{
			width: 150px;
		}
		
		.titre{
			font-size: 30px;
    		vertical-align: middle;
		}
	}
	
	#client{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        
		td{
			width: 460px;
            vertical-align:top;
            padding-top:10px;
            padding-bottom: 10px;
			*{
				vertical-align: middle;
			}
		}

		td:last-of-type{
			text-align: left;
			padding-left: 40px;
		}

		.adresse2Client .fieldLabel{
            border: none;
			padding: 0;
        }

        td:first-of-type .input{
            width: 200px;
        }

        [name="villeClient"].input{
            width: 200px;
        }

        [name="codePostalClient"].input{
            width: 100px;
        }

		[name="courrielClient"].input{
			width: 250px;
		}
	}

	#lignes{

		[name=lignes]{
            margin-top: 20px;
            border: 1px solid black;
		}

		tbody *{
			vertical-align: top;  // utlie pour textareas
		}
		.input{
			width: 100%;
			height: 23px;  // default qui vient des textarea en utilisant autosize.js
            margin: 0;
		}


		.ID{
			width: 100px;
		}
		
        .code{
            width: 155px;
        }
		.description{
			width: 525px;
		}
		
		.priceCol{
			width: 80px;
          	.input{
              text-align: right;
            }
		}

		.qtee{
			width: auto;
		}

		.prixUnitaire, .prixExt{
        	.priceCol;
        }	
		
	}
	
	#pied{
		.totaux{
			padding-top: 20px;
			
			   
			text-align: right;
			.input{
				width: 80px;
				text-align: right;
				padding-right: 5px;
			}
		}
	}
    
    #boutons{

        button, a{
            margin-top: 20px;
            width: 200px;
			vertical-align: middle;
        }
    }
}
