.module_facturation {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.module_facturation table {
  table-layout: fixed;
}
.module_facturation #facture {
  width: 100%;
}
.module_facturation .input {
  margin: 1px;
  padding-right: 2px;
  padding-left: 2px;
}
.module_facturation .fieldLabel {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 4px;
}
.module_facturation #entete .fieldControl {
  width: 280px;
}
.module_facturation #infoFacture {
  width: 100%;
}
.module_facturation #infoFacture .leftHeader,
.module_facturation #infoFacture .rightHeader {
  width: 300px;
}
.module_facturation #infoFacture .rightHeader {
  text-align: right;
}
.module_facturation #infoFacture .input {
  width: 150px;
}
.module_facturation #infoFacture .titre {
  font-size: 30px;
  vertical-align: middle;
}
.module_facturation #client {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.module_facturation #client td {
  width: 460px;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}
.module_facturation #client td * {
  vertical-align: middle;
}
.module_facturation #client td:last-of-type {
  text-align: left;
  padding-left: 40px;
}
.module_facturation #client .adresse2Client .fieldLabel {
  border: none;
  padding: 0;
}
.module_facturation #client td:first-of-type .input {
  width: 200px;
}
.module_facturation #client [name="villeClient"].input {
  width: 200px;
}
.module_facturation #client [name="codePostalClient"].input {
  width: 100px;
}
.module_facturation #client [name="courrielClient"].input {
  width: 250px;
}
.module_facturation #lignes [name=lignes] {
  margin-top: 20px;
  border: 1px solid black;
}
.module_facturation #lignes tbody * {
  vertical-align: top;
}
.module_facturation #lignes .input {
  width: 100%;
  height: 23px;
  margin: 0;
}
.module_facturation #lignes .ID {
  width: 100px;
}
.module_facturation #lignes .code {
  width: 155px;
}
.module_facturation #lignes .description {
  width: 525px;
}
.module_facturation #lignes .priceCol {
  width: 80px;
}
.module_facturation #lignes .priceCol .input {
  text-align: right;
}
.module_facturation #lignes .qtee {
  width: auto;
}
.module_facturation #lignes .prixUnitaire,
.module_facturation #lignes .prixExt {
  width: 80px;
}
.module_facturation #lignes .prixUnitaire .input,
.module_facturation #lignes .prixExt .input {
  text-align: right;
}
.module_facturation #pied .totaux {
  padding-top: 20px;
  text-align: right;
}
.module_facturation #pied .totaux .input {
  width: 80px;
  text-align: right;
  padding-right: 5px;
}
.module_facturation #boutons button,
.module_facturation #boutons a {
  margin-top: 20px;
  width: 200px;
  vertical-align: middle;
}
